/build/
/build_config.mk
/nbproject/
.cproject
.metadata/
.project
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
RemoteSystemsTempFiles/
cmake_install.cmake
include/pdlfs-common/pdlfs-common_config_expand.h
include/pdlfs-common/pdlfs_platform_expand.h
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/pdlfs-common-config-version.cmake
src/pdlfs-common-config.cmake
.settings
include/pdlfs-common/pdlfs_platform.h
